<!DOCTYPE html>
<html>
<head>
	<title>Header Builder</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="general.css">
  <link rel="stylesheet" type="text/css" href="header-builder.css">
  <script>
    var bsData = <%= data %>;
  </script>
</head>
<body>
  <div id="builder-container"></div>
  <script src="mithril.js"></script>
  <script src="bundle.js"></script>
</body>
</html>
