body {
  color: #3F3F3F;
}

div {
  box-sizing: border-box;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.toolbox {
  top: 170px;
  left: 150px;
}

.container {
  width: 60%;
  /*margin: 250px 400px 100px;*/
  margin: 200px auto;
}
