/* Grid ------------------ */
.container {
  display: block;
  padding: 4px;
  border: 1px dashed #FF9CE9;
}

.row-wrapper {
  display: block;
  margin-top: 4px;
  border: 1px solid #FF9CE9;
}

.row-wrapper:first-child {
  margin-top: 0;
}

.row {
  position: relative;
  display: block;
}

.row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
 }

.column-wrapper {
  position: relative;
  float: left;
  padding: 4px 2px;
}

.column-wrapper:first-child {
  padding-left: 4px;
}

.column-wrapper:last-child {
  padding-right: 4px;
}

.column {
  height: 50px;
  background-color: #FFE0F4;
  padding: 6px;
  border: 1px solid transparent;
}

.element {
  display: block;
  background-color: #EAF8FF;
  border: 1px solid #A4DBFF;
  width: 100%;
  height: 100%;
}

.dragbar {
  position: absolute;
  cursor: col-resize;
  z-index: 1000;
}

/* FloatWindow ------------------ */
.float-window {
  position: absolute;
  width: 180px;
  border: 1px solid #5AAADA;
  z-index: 10000;
  box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.15);
}

.float-window-titlebar {
  display: block;
  width: 100%;
  padding: 6px;
  background-color: #5FB4E3;
  color: #fff;
  border-bottom: 1px solid #5AAADA;
  cursor: move;
}

.float-window-content {
  display: block;
  height: 180px;
  padding: 5px;
  max-height: 400px;
  overflow-y: scroll;
  background-color: #fff;
}

/* ConfigurableBox ------------------ */
.configurable-box {
  position: relative;
}

.configurable-box.highlighted {
  border: 1px solid blue;
}

.options-tab {
  position: absolute;
  background-color: blue;
  padding: 4px;
  color: #fff;
  font-size: 11px;
  left: -1px;
  height: 20px;
  top: -20px;
}

.options-link {
  color: #fff;
  text-decoration: none;
}

/* Toolbox ------------------ */
.toolbox .element {
  display: inline-block;
  width: 73px;
  height: 73px;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  float: left;
  opacity: 0.8;
}

.toolbox .element:hover {
  opacity: 1.0;
}
